/* * {
    outline: 1px solid red;
    } */
.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  padding: 92px 50px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
  list-style-type: circle;
}

.header__links-list-item {
  white-space: nowrap;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 135px;
}

.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.35;
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
}

.text-nowrap {
  white-space: nowrap;
}

.text-wrap {
  display: block;
}
