.address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
  text-underline-offset: 4px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  min-width: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

/* Стили для header */

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  font-weight: 400;
  font-size: 18px;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 135px;
  height: 105px;
}

.header__address {
  justify-self: end;
}

/*Стили для cover*/

.cover {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__text {
  line-height: 1;
}

.cover__text:first-child {
  line-height: 1.15;
}

.cover__text:nth-child(2) {
  margin-right: 60px;
}

.cover__text_aligned-text_center {
  text-align: center;
}

.cover__text_aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: initial;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: baseline;
  gap: 78px;
}

.cover__description-text {
  margin-top: 147px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
}

.word-spacing-extended {
  word-spacing: 18px;
}

.bet-button {
  box-sizing: border-box;
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

/* Стили для lots */

.lots {
  margin-top: 180px;
  padding: 0 50px 181px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
}

.lots__cards-list-item {
  flex-grow: 1;
  width: 430px;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
  padding: 50px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  text-underline-offset: 5px;
}

/* Стили для секции about */

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  justify-items: start;
  gap: 0 25px;
  padding: 0 50px 180px;
}

.about__column:first-child {
  justify-self: center;
}

.about__logo {
  display: flex;
  place-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin: 100px 0;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  gap: 25px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
}

/* Стили для секции footer */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 90px;
}

.footer__menu {
  text-align: center;
}

.footer__menu-list {
  font-size: 18px;
  list-style-type: none;
}

.footer__menu-link {
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style-type: none;
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-icon {
  width: 48px;
}
